JAMBOAI_DATASOURCE_URL=jdbc:postgresql://localhost:5432/jamboai
JAMBOAI_DATASOURCE_USERNAME=jamboai
JAMBOAI_DATASOURCE_PASSWORD=jamboai
JAMBOAI_ADMIN_API_URL=https://japi.aged100.com
JAMBOAI_ADMIN_UI_URL=https://jui.aged100.com
JAMBOAI_CUSTOMER_MOBILE_URL=https://juser.raged100.com
JAMBOAI_MERCHANT_MOBILE_URL=https://jmch.aged100.com
JAMBOAI_REDIS_HOST=117.72.184.110
JAMBOAI_REDIS_PORT=63791
JAMBOAI_REDIS_DATABASE=1
JAMBOAI_REDIS_USERNAME=default
JAMBOAI_REDIS_PASSWORD="Q1y2n3A4I5!2#"
JAMBOAI_REDIS_SSL_ENABLED=false
JAMBOAI_MINIO_ENDPOINT=http://localhost:9000
JAMBOAI_MINIO_ACCESS_KEY=jamboai
JAMBOAI_MINIO_SECRET_KEY=jamboai123
JAMBOAI_FLUTTERWAVE_BASE_URL=https://api.flutterwave.com/v3
JAMBOAI_WHATSAPP_GRAPH_BASE_URL=https://graph.facebook.com
