JAMBOAI_DATASOURCE_URL=jdbc:postgresql://localhost:5432/jamboai
JAMBOAI_DATASOURCE_USERNAME=jamboai
JAMBOAI_DATASOURCE_PASSWORD=jamboai
JAMBOAI_REDIS_HOST=localhost
JAMBOAI_MINIO_ENDPOINT=http://localhost:9000
JAMBOAI_MINIO_ACCESS_KEY=jamboai
JAMBOAI_MINIO_SECRET_KEY=jamboai123
JAMBOAI_FLUTTERWAVE_BASE_URL=https://api.flutterwave.com/v3
JAMBOAI_WHATSAPP_GRAPH_BASE_URL=https://graph.facebook.com
